@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
}

html {
  scroll-behavior: smooth;
}

.post-image-container {
  width: 300px; /* Set the desired width */
  height: 150px; /* Set the desired height */
}

.post-image {
  width: 100%;
  height: 50%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
